* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(40, 37, 43);
    min-height: 200vh;
}

header {
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
    .logo {
        position: absolute;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        margin-left: 10vw;
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
            max-width: 50px;
            height: auto;
            margin-right: 20px;
        }
    }
}

.sticky {
    background-color: rgb(11, 15, 15);
    box-shadow: -1px 77px 201px 28px rgba(0, 0, 0, 0.76);
    transition: all 0.5s ease-in-out;
    a {
        color: aliceblue;
    }
}

.logo a {
    text-decoration: none;
    color: #fff;
}

header ul {
    margin-right: 10vw;
}

.menu {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    min-height: 3rem;
    li {
        position: relative;
    }
    a {
        position: relative;
        color: white;
        text-decoration: none;
        margin: 0 15px;
        letter-spacing: 2px;
        font-weight: 400;
        cursor: pointer;
        transition: color .5s ease-out;
    }
}

.content-container {
    margin: 0 15vw;
    padding-top: calc(50vh - 6rem);
    min-height: 100vh;
    color: aliceblue;
    height: auto;
    line-height: 2rem;
}

.menu {
    .active {
        color: rgb(138, 138, 138);
    }
    a:hover {
        color: rgb(0, 217, 255);
    }
}

.social-icon {
    font-size: 1.5em;
    margin: 0;
    padding-top: 3px;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    color: #fff;
    font-size: 24px;
    display: none;
    user-select: none;
}

.exit-hamburger {
    color: #fff;
    font-size: 24px;
    display: none;
    user-select: none;
}

a {
    .font-main {
        transition: color .5s ease-out;
    }
    &:hover .font-main {
        color: rgb(0, 217, 255);
    }
}

.font-main {
    color: rgb(255, 99, 8);
}

.font-green {
    color: rgb(0, 236, 71);
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.94);
        right: 0;
        left: 0;
        top: 56px;
        text-align: center;
        min-height: 100vh;
        padding-top: 7vh;
    }
    .menu li a {
        font-size: 2rem;
        line-height: 3rem;
        height: auto;
        text-align: right;
        font-weight: bold;
    }
    header .logo {
        text-align: center;
        font-size: 24px;
        margin-left: 5vw;
        img {
            width: auto;
            margin: 0;
            margin-right: 10px;
        }
        a {
            margin: 0;
        }
    }
    .hamburger {
        display: block;
        margin-right: -5vw
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .content-container {
        text-align: left;
        font-size: 100%;
        text-justify: auto;
        text-align: left;
        overflow-wrap: break-word;
        height: auto;
        h1 {
            font-size: 20px;
        }
        h4 {
            font-size: 13px;
            line-height: 1rem;
        }
    }
    .social-icon {
        padding-top: 1rem;
        display: inline-flex;
    }
}