* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(40, 37, 43);
  min-height: 200vh;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  height: 3.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
}

header ul {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 200px;
  min-height: 3rem;
}

header ul li {
  position: relative;
}

header ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  letter-spacing: 2px;
  font-weight: 500px;
  cursor: pointer;
  transition: color .5s ease-out;
}

.content-container {
  margin: 0 15vw;
  padding-top: calc(50vh - 3.5rem);
  min-height: 100vh;
  color: aliceblue;
}

.active {
  color: rgb(153, 153, 153);
}

header a:hover {
  color:rgb(0, 217, 255)
}

.social-icon {
  font-size: 1.5em;
  margin: 0;
  padding-top: 3px;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
}