* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(40, 37, 43);
    min-height: 200vh;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    height: 3.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    margin-left: 10vw;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

header ul {
    margin-right: 10vw;
}

.menu {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    min-height: 3rem;
}

.menu li {
    position: relative;
}

.menu a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    letter-spacing: 2px;
    font-weight: 500px;
    cursor: pointer;
    transition: color .5s ease-out;
}

.content-container {
    margin: 0 15vw;
    padding-top: calc(50vh - 3.5rem);
    min-height: 100vh;
    color: aliceblue;
}

.menu .active {
    color: rgb(153, 153, 153);
}

.menu a:hover {
    color: rgb(0, 217, 255);
}

.social-icon {
    font-size: 1.5em;
    margin: 0;
    padding-top: 3px;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    color: #fff;
    font-size: 24px;
    display: none;
    user-select: none;
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        right: 0;
        left: 0;
        text-align: center;
        min-height: 100vh;
        margin-top: 5vh;
    }
    header {
        background-color: rgba(9, 9, 9, 1);
    }
    .menu li a {
        font-size: 3rem;
        line-height: auto;
        height: auto;
        text-align: right;
        font-weight: bold;
    }
    header .logo {
        min-width: 100%;
        margin: 0 -30vw;
        padding: 0 auto;
        text-align: center;
    }
    .hamburger {
        display: block;
        margin-right: -5vw;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .content-container {
        margin: 0;
        padding-top: 30vh;
        text-align: center;
    }
    .social-icon {
        padding-top: 2rem;
        display: inline-flex;
    }
}