* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

header {
    margin: 0;
    padding: 0 15vw;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    transition: color 0.5s ease-in-out;
    z-index: 9999;
    .logo {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        margin: 0;
        // margin-left: 10vw;
        cursor: pointer;
        img {
            max-width: 50px;
            height: auto;
            margin-right: 20px;
        }
        a {
            display: flex;
            align-items: center;
        }
    }
}

.sticky {
    background-color: rgb(11, 15, 15);
    transition: color 0.1s linear;
    position: fixed;
    z-index: 9999;
    li {
        color: aliceblue;
    }
}

.custom-shape-divider-top-1659878004 {
    width: 100%;
    line-height: 0;
    overflow: hidden;
}

.custom-shape-divider-top-1659878004 svg {
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1659878004 .shape-fill {
    fill: #000000fd;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(73, 218, 243);
}

.menu {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    min-height: 3rem;
    li {
        position: relative;
        color: white;
    }
    a {
        position: relative;
        text-decoration: none;
        margin: 0 15px;
        letter-spacing: 2px;
        font-weight: 400;
        cursor: pointer;
        transition: color .5s ease-out;
    }
}

.content-container {
    margin: 0 15vw;
    padding-top: calc(50vh - 6rem);
    min-height: 100vh;
    color: aliceblue;
    height: auto;
    line-height: 2rem;
}

.menu {
    .active {
        color: rgb(138, 138, 138);
    }
    a:hover {
        color: rgb(0, 217, 255);
    }
}

.social-icon {
    font-size: 1.5em;
    margin: 0 10px;
    padding-top: 3px;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    color: #fff;
    font-size: 24px;
    display: none;
    user-select: none;
}

.exit-hamburger {
    color: #fff;
    font-size: 24px;
    display: none;
    user-select: none;
}

a {
    .font-main {
        transition: color .5s ease-out;
    }
    &:hover .font-main {
        color: rgb(0, 217, 255);
    }
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0 5vh;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.94);
        right: 0;
        left: 0;
        top: 56px;
        text-align: center;
        min-height: 100vh;
        padding-top: 7vh;
    }
    .menu li a {
        font-size: 2rem;
        line-height: 3rem;
        height: auto;
        text-align: right;
        font-weight: bold;
    }
    header {
        margin: 0;
        padding: 0 5vw;
    }
    header .logo {
        text-align: center;
        font-size: 24px;
        img {
            width: auto;
            margin: 0;
            margin-right: 10px;
        }
        a {
            margin: 0;
        }
    }
    .hamburger {
        display: block;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .content-container {
        text-align: left;
        font-size: 100%;
        text-justify: auto;
        text-align: left;
        overflow-wrap: break-word;
        height: auto;
        h1 {
            font-size: 20px;
        }
        h4 {
            font-size: 13px;
            line-height: 1rem;
        }
    }
    .social-icon {
        padding-top: 1rem;
        margin: auto;
        display: inline-flex;
    }
}